# Environnement
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Éditeurs / OS
.vscode/
.idea/
.DS_Store

# Backups locaux
*.bak
_archives/
credentials.json
